[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
redis = "*"
flask = "*"
chardet = "*"
requests = "*"

[dev-packages]
pipdeptree = "*"
pip-licenses = "*"
flake8 = "*"
autopep8 = "*"
pylint = "*"
bandit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
sphinx = "*"
matplotlib = "*"

[requires]
python_version = "3.10"
